<main>
    
    <div class="main-container">
        <div class="link-container">
            <a href="/Teacher/list">Teachers</a>
        </div>
        <div class="link-container">
            <a href="/Class/list">Classes</a>
        </div>
    </div>
</main>