@model IEnumerable<n01625423_cumulative_project_1.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>This page should be showing information about all teachers</p>

<div  class="list-container">
    <h2>List of Teachers</h2>
    @foreach (var teacher in Model)
    {
        <div class="list-item row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.TeacherID">@teacher.TeacherFName @teacher.TeacherLName</a></div>
        </div>
    }
</div>